:root {
  font-family: sans-serif;
  color: #333;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ccc;
}

span {
  display: inline-block;
}

.background-circle {
  background-color: white;
  position: absolute;
  z-index: 0;
  border-radius: 100%;
}

.background-circle--anim {
  animation: circle-start 0.5s ease-in-out;
}

@keyframes circle-start {
  0% {
    padding: 40vh;
    opacity: 0;
  }
  25% {
    opacity: 100%;
  }
  50% {
    padding: 44vh;
    opacity: 100%;
  }
  100% {
    padding: 40vh;
    opacity: 0;
  }
}

.app-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 65vw;
  background-color: red;
  border-radius: 1em;
  background: linear-gradient(to right, #ff9966, #ff5e62);
  padding: 2em;
  box-shadow: 0em 2em 2em 1em rgba(0, 0, 0, 10%);
  overflow: hidden;
}

.github-profile-triangle {
  position: absolute;
  top: 0;
  left: 0;
  border-top: 8em solid red;
  border-right: 8em solid transparent;
}

.github-profile-corner > .github-profile-button {
  position: absolute;
  font-size: 3.5rem;
  top: 0;
  left: 0;
  transform: translate(17%, 17%);
  cursor: pointer;
}

.github-profile-corner > .github-profile-button ion-icon {
  color: #333;
}

.touch-typer {
  position: relative;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  width: 50%;
  height: 40%;
}

.touch-typer__top {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  min-height: 0;
}

.touch-typer__top > * {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.touch-typer__top > .touch-typer__timer {
  /*   height: 50%; */
  flex-grow: 25;
  width: 15%;
  font-size: 2rem;
  text-align: center;
}

.touch-typer__top > .touch-typer__text-container {
  flex-grow: 75;
}

.touch-typer__text-container {
  min-width: 0;
  min-height: 0;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  /*   border-radius: 0.2em; */
  padding: 0.45em;
  width: 100%;
  background-color: #ddd;
/*   border: 1px solid #444; */
  overflow-y: auto;
  position: relative;
}

.break-area {
  position: absolute;
  top: 0;
  /*   background-color: rgba(255, 255, 255, 50%); */
}

.touch-typer__text-container > .word {
  /* en px porque a JS le da ansiedad hacer cálculos con decimales  */
  margin: 2px 0.2em;
}

.touch-typer__input {
  font-size: 1.2rem;
  display: block;
  width: 25%;
  padding: 0.4em;
  text-align: center;
  /*   background-color: transparent; */
  border: 1px solid #333;
  border-radius: 0.5em;
  /*   border: none; */
  /*   border-bottom: 1px solid black; */
}

/* Solo para visualizar el tamaño que ocupa cada palabra  */
/* .touch-typer__text-container > .word:nth-child(1){
background-color: red;
}
.touch-typer__text-container > .word:nth-child(6){
background-color: red;
} */

/* Modifier classes */
.word {
  position: relative;
  min-width: 0;
}
.word--current::after {
  content: "";
  top: 0;
  left: 0;
  height: 110%;
  width: calc(100% + 0.3em);
  border-radius: 0.3em;
  transform: translate(-0.15em, -5%);
  position: absolute;
  background-color: rgba(100, 100, 100, 25%) !important;
}
.char--correct {
  color: green !important;
  animation: pulse 0.2s;
  transform-origin: center bottom;
}
.char--wrong {
  color: red !important;
  /*   animation: correct-fade-in 0.5s ease-in; */
  animation-fill-mode: forwards;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 0px;
  transition: all 0.5s;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

@keyframes correct-fade-out {
  0% {
    color: green;
  }
  50% {
    transform: translate(-0.2em, -0.4em) rotate(-40deg);
  }
  100% {
    color: transparent;
    transform: translate(-0.4em, -0.3em) rotate(-80deg);
  }
}
@keyframes correct-fade-in {
  100% {
    color: green;
  }
  50% {
    transform: translate(-0.2em, -0.4em) rotate(-40deg);
  }
  0% {
    color: transparent;
    transform: translate(-0.4em, -0.3em) rotate(-80deg);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
